.login
  %h1 Login
  %form{:method => "post"}
    %input{:name => "u", :placeholder => "Username", :required => "required", :type => "text"}/
    %input{:name => "p", :placeholder => "Password", :required => "required", :type => "password"}/
    %button.btn.btn-primary.btn-block.btn-large{:type => "submit"} Let me in.
