* {
  box-sizing: border-box;
}

// 投稿フォームのcss
.new-article__form {
  width: 1000px;
  margin: 60px auto;
  padding: 40px;
  border: solid 2px grey;
  .new-article__form__title {
    height: 40px;
    .title-name {
      width: 20%;
      line-height: 40px;
      float: left;
      text-align: center;
      margin: 0;
    }
    .title_new {
      width: 80%;
      height: 40px;
      float: right;
    }
  }

  .new-article__form__text {
    height: 200px;
    .text-name {
      width: 20%;
      float: left;
      text-align: center;
      line-height: 200px;
      margin: 0;
    }
    .text_new {
      width: 80%;
      height: 200px;
      float: right;
    }
  }

  .new-article__form__image {
    height: 40px;
    .image-name {
      width: 20%;
      float: left;
      text-align: center;
      line-height: 40px;
      margin: 0;
    }
    .image_new {
      font-size: 1px;
      width: 70px;
      height: 30px;
      line-height: 30px;
      margin-top: 5px;
      float: left;
      background-color: rgb(189, 189, 189);
      border-radius: 4px;
    }
  }

  .new-article__form__tag {
    height: 40px;
    .tag-name {
      width: 20%;
      float: left;
      text-align: center;
      line-height: 40px;
      margin: 0;
    }
    .tag_new {
      width: 80%;
      height: 40px;
      float: left;
    }
  }

  .new-article__form__submit {
    .form-btn {
      display: inline-block;
      height: 50px;
      width: 100px;
      padding: 0 30px;
      line-height: 50px;
      letter-spacing: 1px;
      text-align: center;
      border: none;
      border-radius: 3px;
      margin-top: 20px;
      margin-left: 20%;
      color: #fff;
      background-color: rgb(48, 169, 224);
    }
  }
}

.hidden {
  display: none;
}

.search {
  height: 30px;
  line-height: 27px;
  border-radius: 6px;
  color: black;
  margin-left: 5px;
}

.title-search {
  height: 40px;
  line-height: 40px;
  width: 200px;
  color: black;
}